@{
    ViewData["Title"] = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="flex-row align-content-center">Movie</h2>

<link href="https://unpkg.com/tabulator-tables@5.4.3/dist/css/tabulator.min.css" rel="stylesheet" />
<script src="https://unpkg.com/tabulator-tables@5.4.3/dist/js/tabulator.min.js"></script>

<div id="movie-table"></div>

<script>
    var table = new Tabulator("#movie-table", {
        height: 500,
        layout: "fitColumns",
        ajaxURL: "/Movie/GetMovies",
        pagination: "remote",
        paginationSize: 10,
        ajaxConfig: "GET",
        columns: [
            { title: "ID", field: "movieId", visible: false },
            { title: "Title", field: "title", editor: "input" },
            { title: "Genre", field: "genre", editor: "input" },
            { title: "Release Date", field: "releaseDate", editor: "input" },
            { title: "Duration (min)", field: "duration", editor: "number" },
            { title: "Price", field: "price", editor: "number" },
            { title: "Director", field: "directorName" },
            {
                title: "Actions",
                formatter: "buttonCross",
                width: 100,
                align: "center",
                cellClick: function (e, cell) {
                    var movieId = cell.getRow().getData().movieId;
                    fetch("/Movie/DeleteMovie", {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify(movieId)
                    }).then(() => table.replaceData());
                }
            }
        ],
        cellEdited: function (cell) {
            let rowData = cell.getRow().getData();
            fetch("/Movie/SaveMovie", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(rowData)
            });
        }
    });
</script>
